<!-- views/user.handlebars -->

{{#if user}}
<!-- display user profile-->
  <h1>User Profile: {{user.username}}</h1>
  <p>Email: {{user.email}}</p>
  <p>Joined on: {{formatDate user.createdAt}}</p>
<!--display user post-->
  {{#if userPosts.length}}
    <h2>Posts by {{user.username}}:</h2>
    {{#each userPosts}}
      <div class="post">
        <h3 class="post-title">{{title}}</h3>
        <p>{{content}}</p>
        <p class="post-meta">Created on {{formatDate createdAt}}</p>
        <a href="/post/{{id}}">Read More</a>
      </div>
    {{/each}}
  {{else}}
  <!--user hasnt created posts, handle it-->
    <p>{{user.username}} hasn't created any posts yet.</p>
  {{/if}}
{{else}}
  <p>User not found.</p>
{{/if}}
